.main-info__top {
  display: flex;
  flex-direction: column;

  gap: 1rem;
  color: white;
  font-family: "Geologica", sans-serif;
  font-family: "Nunito Sans", sans-serif;
}
.main-info__top h2 span {
  color: orange;
  font-size: 1.8rem;
  padding-left: 5px;
}
.main-info__top h1 {
  font-size: 3.6rem;
}
.main-info__top h2 {
  font-size: 1.8rem;
  text-align: center;
}
@media (width <=600px) {
  .main-info__top {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .main-info__top h2 {
    font-size: 1.2rem;
  }
  .main-info__top h1 {
    font-size: 1rem;
  }
}
