.section-sixt {
  height: 80vh;
  width: 100%;
  background-color: rgba(238, 238, 238, 0.507);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Geologica", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  gap: 4rem;
}
