.main-navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* height: 20rem; */
  padding-bottom: 6em;
  overflow: hidden;
  position: relative;
}
.main-navbar h2 {
  color: black;
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 7rem;
}
.main-navbar-links {
  margin-right: 3rem;
  cursor: pointer;
  height: fit-content;
  font-family: "Geologica", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  padding-top: 1.2rem;
  display: flex;
  gap: 4rem;
}
.main-navbar-links a {
  transition: all 0.4s;
  text-decoration: none;
  color: inherit;
}
.main-navbar-links a:hover {
  transform: translateY(-3px);
}
.main-navbar__info {
  position: absolute;
  top: 50%;
  left: 10%;
}
.main-img {
  position: absolute;
  top: -120%;
  left: 0;
  opacity: 0.6;
  z-index: -1;
}
.main-navbar__info h1 span {
  font-size: 3.4rem;
}
@media (width <= 600px) {
  .main-img {
    left: -50%;
  }
}
