.company-info__container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.footer-number {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: rgba(0, 0, 0, 0.849);
}
.footer-number h1,
.footer-number h2 {
  font-size: 2.6rem;
}
.footer-icon {
  color: orange;
}
.footer-number h2 span {
  color: orange;
}
.footer-number h1 {
  color: white;
}
.footer-number h2 {
  color: white;
}
